<h1>Files</h1>
<ul>
    {{range .}}
        <li>
            <form method="get" action="/files/download/{{.Path}}">
                <button type="submit">{{.Name}}</button>
            </form>
        </li>
    {{end}}
</ul>